.bg-image {
    background-image: url("./assets/brandi-redd-aJTiW00qqtI-unsplash-min.jpg");
    background-size:contain;
    /* background-position:top; */
    background: cover;
    background-repeat: no-repeat;

}